* {
    margin: 0;
    padding: 0;
  }
  .centered-zone {
    max-width: 1700px;
    margin: 0 auto;
    border-left: 1px solid #cfc7c7;
    border-right: 1px solid #cfc7c7;
    left: 38px;
  }
  .preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff; /* Change the background color if needed */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .preloader img {
    width: 600px; /* Adjust the width of your preloader image */
    height: auto;
  }
  
  /* Navigation Bar Styles */
  .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    width: 100%;
    height: 70px;
    background-color: white !important;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
    transform-origin: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .Container.__top {
    margin-top: 12px;
  }
  
  .logo{
    margin-left: 40px;
  }
  .logo img{
    width: 120px;
    height: fit-content;
    
  }
  /* Search Bar Styles */
  .search {
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
  
  }
  
  .search-container {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .search input[type="text"] {
    padding: 13px;
    border-radius: 15px;
    border: 1px solid #ccc;
    margin-right: 0;
    width: calc(40vw - 45px);
    max-width: 870px;
    border-radius: 15px 0 0 15px;
    outline: none;
     
  }
  
  .search button[type="submit"] {
    background: linear-gradient(to right, rgb(128, 229, 128), rgb(104, 232, 232));
    color: white;
    border: none;
    padding: 14px 20px;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
    transition: background-position 0.5s ease;
    background-size: 200% auto;
  }
  
  .search button[type="submit"]:hover {
    background-position: right center;
  }
  
  .search button[type="submit"]:focus {
    outline: none;
  }
  
  /* Navigation Logo Styles */
  .platform-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 40px;
  }
  
  .logo:hover img {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    backface-visibility: hidden;
  }
  
  .platform-logo a:hover img:hover {
    transform: scale(1.25);
    transition: transform 0.3s ease-in-out;
    backface-visibility: hidden;
  }
  
  @media screen and (max-width: 999px) {
    .platform-logo img {
      display: none;
    }
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 840px) {
    .logo img {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    /* .search {
          margin-right: 0;
          padding-right: 0;
          margin-left: 0;
          transition: margin-right 1s ease-in-out, padding-right 1s ease-in-out, margin-left 1s ease-in-out;
      } */
  }
  
  @media screen and (max-width: 1050px) {
    .platform-logo {
      margin-right: 0;
      column-gap: 20px;
      transition: margin-right 0.3s ease-in-out, column-gap 0.3s ease-in-out;
    }
  }
  
  @media screen and (max-width: 810px) {
    .search {
      display: none !important;
      transition: ease-in-out 0.1s;
    }
    .sign-in {
      display: none !important;
      transition: ease-in-out 0.1s;
    }
    .nav-bar {
      display: flex;
      justify-content: space-between;
    }
  }
  
  .sign-in {
    margin-right: 0px;
  }
  .signin-button {
    margin-right: 10px;
    background-color: #38b6ff;
    color: white;
    border: none;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 15px;
    cursor: pointer;
  }
  
  .signin-button:hover {
    color: white;
    transform: scale(1.02);
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
    backface-visibility: hidden;
  }
  
  .main-body {
    transition: margin-top 0.5s ease-in-out;
  }
  
  
  
  
  .secondary-nav {
    background-color: rgb(245, 245, 245);
    padding: 10px;
    display: none;
  }
  
  .new-search-container {
    display: flex;
    align-items: center;
  
  }
  
  .new-search-text-area {
    flex: 1;
    margin-right: 10px;
    
  
  }
  
  #new-search-input {
    width: 100%;
    padding: 8px;
    font-size: 15px;
    border: none;
    outline: none;
    background: none;
  }
  
  #new-search-icon,
  #new-close-search {
    margin-left: 10px;
  }
  
  .open-search{
    display: none;
   
  }
  
  .open-search button {
    border: none;
    outline: none;
    background: none;
    padding: 0;
  }
  
  .open-search button i {
    color: #000; 
    font-size: 20px;
    margin-right: 5px;
  }
  
  #new-search-icon button i {
    color: #000; 
    font-size: 20px;
    margin-right: 5px;
  }
  
  #new-search-icon button,
  #new-close-search button {
    border: none;
    outline: none;
    background: none;
    padding: 0;
  }
  #new-close-search button {
    font-size: large;
  }
  
  @media screen and (max-width: 810px) {
    .logo{
      margin-left: 0px;
    }
      .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #3498db; 
        
      }
     .logo img{
      width: 200px;
      height: fit-content;
     }
  
  .open-search{
        display: block;
      }
  
    }
    
  




.heading {
    text-decoration: none;
    font-size: x-large;
    padding: 16px 60px;
    display: inline-block;
    border-radius: 15px;
    margin-top: 30px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 0 1.5px #7fff8e;
    transition: background-image 0.6s ease, color 0.9s ease;
}

.heading:hover {
    color: white;
    background-image: linear-gradient(45deg,#ff6ec7, #7fffd4);
 
}



.Container {
    background: #FFFFFF;
    margin: 0 auto;
    padding-left: 20px;
   
}

h2 {
    text-align: left;
}

/* Your existing styles for larger screens */





.download-list {
    display: inline-flex;
    flex-wrap: wrap;
    padding: 10px 10px 0 10px;
    justify-content: space-around;
    column-gap: 35px;
    margin-top: 10px;
    flex-direction: row;
}

.box {
    min-width: 100px;
    width: 100px;
    /* height: 100%; */
    position: relative;
    vertical-align: top;
    margin: 0 10px 10px 0;
    white-space: normal;
    line-height: 1.2;
    text-align: center;
}


.box .app {
    text-align: center;
    text-decoration: none;
    display: block;
}

.box .app img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    display: inline-block;
    padding-top: 18px;
    border: white;
    border-radius: 10px;
    transition: transform 0.3s ease;
}


.box .app .name {
    margin: 0;
    font-weight: 600;
    color: #0c0b0b;
    text-align: center;
    padding-top: 4px;
    font-size: 18px;
}

.box .app .descreption {
    font-family: 'geomanistregular', sans-serif;
    color: #7F949A;
    font-size: 12px;
    margin-top: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}





.box .app img:hover{
    transform: scale(1.1);
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
    backface-visibility: hidden;
}


@media screen and (max-width: 500px) {
    .box .app img {
        width: 80px;
        height: 80px;
    } 

}



















@media screen and (max-width: 1000px) {

    .app .name{
        font-size: 18px;
    }

    /* .nav-list img {
        height: 30;
        width: 30;
        
    }  */


    .logo-text {
        font-size: 36px;
    }

    

    .static, .dynamic-txt{
        font-size: 35px;
    }

}


@media screen and (max-width: 991px){
    #bodyy{
        padding-left: 82px;
        padding-right: 0;
        padding-top: 65px;
    }

    .footer{
        padding-bottom: 20px;
    }


}

@media screen and (max-width: 770px){
    .app img {
        width: 62px;
        height: 65px;
        object-fit: contain;
    }

    .app {
        text-align: center;
        margin-right: 0px;
        margin-bottom: 10px;
        text-decoration: none;
    }
    
    .app .name {
        margin: 0;
        font-weight: bold;
        padding-top: 16px;
        font-size: 14px;
    }
    
}




























/* @media (max-width: 880px) {
    .banner {
        display: flex;
        height: 40vh;
        border-radius: 20px;
        
    }

    #Search {
        width: 100%;
        max-width: 71%;
        margin-right: 15px;
        height: 40px;
    }

} */


/* 
@media screen and (max-width: 770px){
    .search{
       width: 90%;
       margin-left: 36px;
    } 

     .btn {
        z-index: 999999;
        padding: 8px 12px;
        font-size: 16px;
        border: none;
        border-radius: 15px;
        background-color: aqua;
        color: black;
        cursor: pointer;
        height: 44px;
        width: 130px;
    } 

    .static {
        padding-bottom: 10px;
        font-size: 1em;
    }

    .dynamic-txt {
        padding-bottom: 10px;
        font-size: 1em;
    }
}


@media screen and (max-width: 600px) {
    .banner {
        height: 33vh;
    }
} */

/* CSS FOR SMALL DEVICE FOR FLEX WRAP */

/* 
@media screen and (max-width: 450px) {
    .download-list {
        display: flex;
        flex-wrap: wrap;
        grid-column-gap: 26px;
        text-align: center;
        position: relative;
        left: 5px;
    }
    }
    

@media screen and (max-width: 420px) {
.download-list {
    display: flex;
    flex-wrap: wrap;
    grid-column-gap: 24px;
    text-align: center;
    position: relative;
    left: 5px;
}}
@media screen and (max-width: 400px) {
.download-list {
    display: flex;
    flex-wrap: wrap;
    grid-column-gap: 22px;
    text-align: center;
    position: relative;
    left: 5px;
}
}
@media screen and (max-width: 375px) {
.download-list {
    display: flex;
    flex-wrap: wrap;
    grid-column-gap: 20px;
    text-align: center;
    position: relative;
    left: 5px;
}
} */

/* .download-list {
    display: flex;

    text-align: center;
    position: relative;
    left: 0;
    margin-top: 10px;
    flex-direction: row;
}

.box {
    width: 110px;
    flex-grow: 1;
    height: fit-content;
    overflow: hidden;
    margin-right: 10px;
}
 */














.footer {
    background-color: white;
    padding: 20px 0;
    position: relative;


}

.footer::before {
    content: '';
    position: absolute;
    top: -4px;
    /* Adjust this value for the shadow distance */
    width: 100%;
    height: 3px;
    background: rgba(111, 110, 110, 0.2);
    /* Shadow color and opacity */
    z-index: -1;
    box-shadow: 0 0 10px rgba(40, 32, 32, 0.5);
    /* Adjust the shadow properties as needed */

}

.foot {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #0f0e0e;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #121111;
    text-decoration: none;
    font-weight: 300;
    color: #151313;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #111010;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #0c0b0b;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #113184;
    background-color: #00000030;
}

@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}
@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}
@media (max-width: 810px) {
    .centered-zone {
      left: 0;
    }
  }
  
@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}
ol, ul {
  padding-left: 0rem;
}
.carousel-item img {
  height: 400px; /* Adjust the height value as per your requirement */
}
